@import "@carbon/themes/scss/themes";
$carbon--theme: $carbon--theme--g90;
@include carbon--theme();

@import "~carbon-components/scss/globals/scss/styles.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bx--fieldset {
  margin-bottom: 0rem;
}
.bx--form-item.bx--checkbox-wrapper:last-of-type {
  margin-bottom: 0rem;
}
.bx--label + .bx--form-item.bx--checkbox-wrapper {
  margin-top: 0rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
